@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playball/v22/TK3gWksYAxQ7jbsKcj8D.ttf) format('truetype');
}
