SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=infotheelderlywellness@gmail.com
SMTP_PASS=[PASSWORD]
SMTP_FROM=infotheelderlywellness@gmail.com
MAIL_TO=infotheelderlywellness@gmail.com
NEXT_PUBLIC_SITE_EMAIL=infotheelderlywellness@gmail.com
